*{
	position :relative;
	box-sizing: border-box;
}
body{
	height:1000px;
	background-color: 
}
h2{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif; 
}
h1{
	text-align: left;
	font-family: "Comic Sans MS", cursive, sans-serif; 
	
}
#columns{
	
}
.col-md-12{

	margin:0px;
	padding:5 5 5 5;
}
h3{
	text-align: center;
	position: absolute;
	color:black;
	top:0px;
left:50%;
	margin:0 0 0 0;
	padding: 2px 20px 2px 20px;
		font-family: "Comic Sans MS", cursive, sans-serif; 
}
p{
	margin:10px 10px 10px 10px;
	padding:45px 15px 0 15px;
	margin-top:20px;
	background-color: #808080;
	font-family: "Comic Sans MS", cursive, sans-serif; 
}
#columns{
	width: 100%;
}
#henav{
	background-color: #808080;
	border-radius: 0px;
	border: 1px solid black;
	margin: 0px;
}
#nav-list{
	margin-top: 10px;
}

#nav-list a{
	text-align:center;
	color:#951c49;
}
#nav-list a:hover{
	font-size: 1.8em;
	background-color: #E7E7E7;
}

#chick h3{
	position:absolute;
	text-align: center;
}
#but h3{
	position:absolute;
	text-align: center;
}
#beef h3{
	position:absolute;
	text-align: center;
}
@media (min-width: 769px) {
    #nav-list{    
        visibility: hidden;

    }
    h1{
    	margin-top:2px; 
	margin-bottom:-10px;
    }
}

@media (max-width: 768px) {
   #nav-list{    
        visibility: visible;
    }
     h1{
    	margin-top:0px; 
	margin-bottom:0px;
    }
}
.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
	border :1px solid #61122f;
}
